<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据查询</title>
<!--    <META HTTP-EQUIV="Refresh" content="10">-->
</head>

<body>
    <div>
        <form action="{{ url_for("select") }}"  method ="post">

            <div align="center" style=" height:100px; width:600px;">
                <tbody>
                        <tr>
                            <td>欢迎使用！</td>
                            <td>
                                <a href="{{ url_for("login") }}">
                                    <input type="button" value="退出登录">
                                </a>
                            </td>
                        </tr>
                        <br/>
                        <tr>
                            <td><input type="submit" value="数据刷新" onclick="void passvar();"></td>
                        </tr>
                </tbody>
            </div>

            <div align="center" style=" height:200px; width:600px;">
                选择年份：
                <select id="s1" name="select_year">
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
                您所选年份：<input type="text" placeholder="上次选择年份" name="l_year"
                             readonly="readonly" class="form-control" value="{{select_year}}">
                <br/>
                平均：<input type="text" placeholder="平均价格(元/㎡)" name="avg" readonly="readonly" class="form-control" value="{{avg_price}}">
                <br/>
                最高：<input type="text" placeholder="最高价格(元/㎡)" name="max" readonly="readonly" class="form-control" value="{{max_price}}">
                <br/>
                最低：<input type="text" placeholder="最低价格(元/㎡)" name="min" readonly="readonly" class="form-control" value="{{min_price}}">
                <br/>
            </div>

            <div align="center" style=" height:450px; width:1200px;">
                选择小区：
                <select id="s2" name="select_estate">
                    <option>A区</option>
                    <option>B区</option>
                    <option>C区</option>
                    <option>D区</option>
                    <option>E区</option>
                    <option>F区</option>
                    <option>G区</option>
                    <option>H区</option>
                    <option>I区</option>
                    <option>J区</option>
                    <option>K区</option>
                </select>
                您所选小区：<input type="text" placeholder="上次选择小区" name="l_estate" readonly="readonly" class="form-control" value="{{select_estate}}">
                <br/>
                选择户型(面积不同㎡)：
                <select id="s3" name="select_area">
                    <option value="80" >80</option>
                    <option value="100" >100</option>
                    <option value="120" >120</option>
                </select>
                您所选户型：<input type="text" placeholder="上次选择户型" name="l_area" readonly="readonly" class="form-control" value="{{select_area}}">
                <br/>
<!--                <input type="text" id="d1" placeholder="接收的数据" name="r_data" readonly="readonly" class="form-control" value="{{arr_data}}">-->
                <div style=" height:400px; width:600px;">
                   <div id="container" style="height: 100%"></div>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
                   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
                   <script type="text/javascript">
                        var foobar;
                          function passvar(){
                            foobar = document.getElementById('d1').value;
                         }

                        var dom = document.getElementById("container");
                        var myChart = echarts.init(dom);
                        var app = {};

                        option = null;
                        option = {
                             xAxis: {
                                type: 'category',
                                data: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                             data: [4483.0, 4569.0, 4292.0, 5343.0, 5899.0, 5835.0, 7358.0, 8630.0, 9155.0, 9236.0, 10915.0],
                             type: 'line'
                            }]
                        };
                        ;
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                   </script>
                </div>
            </div>

        </form>
    </div>
</body>
</html>