<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/javascript" src="jquery-3.3.1.js"></script>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script >
   function loginSystem(){
debugger
      var username = document.getElementById("userName").value;
       alert(username);
       var password  = document.getElementById("password").value;
       var data = {
           data: JSON.stringify({"username": username,"password":password})
       }
        $.ajax({
              type: 'POST',
              url: 'http://localhost:5000/login',
              dataType: 'json', //希望服务器返回json格式的数据
             data:data,
             Callback: "successCallback",
             success: function (data) {
                 console.log(data);
             }

        });

   }

</script>
<body>
    <table border="1" cellspacing="0" width="200px;">
        <tr>
            <td>用户名：</td>
            <td><input type="text" id="userName"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" id="password"></td>
        </tr>
        <tr>
            <td><input type="button" value="登录" onclick="loginSystem()"></td>
            <td><input type="button" value="重置" onclick="reset()"></td>
        </tr>
    </table>
</body>
</html>